page-settings {
  .scroll-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backgroud-teal {
    height: 50%; 
    width: 100%; 
    background: teal;
  }

  .card-md {
    position: absolute;
    top: 20%;
    padding-top: 60px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    height: 75%;
    width: calc(80% - 20px);

    .username {
      font-size: 16pt; 
      text-align: center;
    }

    .icon-size {
      font-size: 24px;
    }

    .version {
      display: flex; 
      justify-content: space-between;
    }
  }

  .card-image {
    top: 12%; 
    border-radius: 50%; 
    height: 100px; 
    width: 100px; 
    padding: 0px;

    .avatar {
      width: 100px; 
      height: 100px; 
      border-radius: 50%;
    }
  }
}
