page-home {
  .scroll-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  
  .card-md {
    margin: 20px;
    width: calc(100% - 40px);
  }
  
  .header {
    width: 100%; 
    background-color: teal; 
    padding: 20px; 
    color: #FFFFFF;

    .username {
      font-size: 18pt; 
      margin-bottom: 12px
    }

    .subtitle {
      font-size: 12pt;
    }
  }
  
  .content {
    height: 100%;

    .content-empty {
      border-radius: 10px;
    }

    .content-container {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      .content-header {
        text-align: center;

        .content-title {
          font-size: 16pt;
        }

        .content-subitle {
          font-size: 11pt;
        }
      }

      .content-button {
        display: flex;
        justify-content: center;

        .content-button-details {
          width: 120px; 
          height: 36px; 
          font-size: 11pt;
          text-transform: none; 
          border-radius: 10px;
          display: flex; 
          background-color: teal; 
        }

        .icon-size {
          font-size: 12pt;
        }
      }
    }

    .button-plus {
      right: 10px;
      bottom: 15px;

      .background-teal {
        background-color: #008080;

        .icon-plus-size {
          font-size: 18pt; 
          font-weight: bold;
        }
      }
    }
  }
}
