<ion-content text-center>
  <div class="user-container">
    <div class="user-content">
      <ion-title>
        Escolha um avatar
      </ion-title> 
      <div class="images-container">
        <div class="images-container-image">
          <ion-img 
            (click)="isSelected(1)"
            src="../../../assets/avatar/man.png"
            class="images-container-size"
          ></ion-img>          
          <ion-icon 
            *ngIf="selected === 1" 
            md="md-checkmark-circle-outline" 
            color="light"
          ></ion-icon>
        </div>
        <div class="images-container-image"> 
          <ion-img 
            (click)="isSelected(2)"
            src="../../../assets/avatar/woman.png"
            class="images-container-size"
          ></ion-img>          
          <ion-icon 
            *ngIf="selected === 2" 
            md="md-checkmark-circle-outline" 
            color="light"
          ></ion-icon>
        </div>
        <div class="images-container-image">
          <ion-img 
            (click)="isSelected(3)"
            src="../../../assets/avatar/avatar_1.png"
            class="images-container-size"
          ></ion-img>          
          <ion-icon 
            *ngIf="selected === 3" 
            md="md-checkmark-circle-outline" 
            color="light"
          ></ion-icon>
        </div>
      </div>
      <div class="input-content">
        <ion-title>
          Como devemos te chamar?
        </ion-title> 
        <ion-item class="input-content-item">
          <ion-label fixed>Username</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>       
      </div>
    </div>
    <div class="singin-button">
      <button 
        *ngIf="edit === false"
        ion-button 
        large
        icon-start
        class="singin-button-content"
        (click)="systemOpenHomePage()"
      >
        <ion-icon md="md-log-in" color="light"></ion-icon>
        Entrar
      </button>
      <div *ngIf="edit === true">
        <button 
          ion-button 
          icon-start
          class="save-button-content"
          (click)="systemOpenHomePage()"
        >
          <ion-icon md="md-send" color="light"></ion-icon>
          Salvar
        </button>
        <button 
          ion-button 
          icon-start
          outline
          color="danger"
          class="cancel-button-content"
          (click)="systemCancelEdit()" 
        >
          <ion-icon md="md-close" color="danger"></ion-icon>
          Cancelar
        </button>
      </div>
    </div>
  </div>
</ion-content> 